.working{   
    position: absolute;
    width: 1440px;
    height: 535px;
    left: 0px;
    top: 3050px;
    background: linear-gradient(90deg, rgba(40, 33, 101, 0.98) 0%, rgba(40, 33, 101, 0.9506) 100%), url();
}

.working p{
width: 154px;
height: 28px;
font-family: 'Circular Spotify Text';
font-style: bold;
font-weight: 500;
font-size: 20px;
line-height: 28px;
color: #FFFFFF;
left: 582px;
top: 150px;
position: relative;


}
.working h1{
    position: absolute;
    width: 10px;
    height: 34px;
    left: 243px;
    top: 273px;
    font-family: 'Circular Spotify Text';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
}

.working h2{
    position: absolute;
    width: 10px;
    height: 34px;
    left: 640px;
    top: 273px;
    font-family: 'Circular Spotify Text';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px; 
    color: #FFFFFF;
}

.working h3{
    position: absolute;
    width: 15px;
    height: 34px;
    left: 1100px;
    top: 273px;
    font-family: 'Circular Spotify Text';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}

.working .product{
    width: 182px;
    height: 34px;
    font-family: 'Circular Spotify Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
    left: 170px;
    top: 313px;
}
.working .view{
    width: 137px;
    height: 34px;
    font-family: 'Circular Spotify Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
    left: 587px;
    top: 263px;

}

.working .sponsor{
    width: 91px;
    height: 34px;
    font-family: 'Circular Spotify Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
    top: 213px;
    left: 1070px;
}
.working .invest1{
    width: 296px;
    height: 23px;
    font-family: 'Circular Spotify Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #CFCECE;
    position: relative;
    margin-left: 120px;
    top: 340px;
}
.working .invest2{
    width: 296px;
    height: 23px;
    font-family: 'Circular Spotify Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #CFCECE;
    top: 285px;
    position: relative;
    margin-left: 520px;
}
.working .invest3{
    width: 296px;
    height: 23px;
    font-family: 'Circular Spotify Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #CFCECE;
    top: 235px;
    position: relative;
    margin-left: 990px;
}