


.rec p{
    
    position: absolute;
    width: 72px;
    height: 28px;
    left: 684px;
    top: 750px;
    font-family: 'Circular Spotify Text';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #282165;

}

.rec .rec-1{
    position: absolute;
    width: 402.57px;
    height: 415.81px;
    left: 56.89px;
    top: 850px;
    border-radius: 5px;
    transform: matrix(1, -0.04, -0.02, 1, 0, 0);
}
.rec .rec-2{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 482.21px;
    top: 830px;
    border-radius: 5px;
    transform: matrix(1, -0.04, -0.02, 1, 0, 0)
}

.rec .rec-3{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 479.32px;
    top: 1035px;
    border-radius: 5px;
    transform: matrix(1, -0.04, -0.02, 1, 0, 0);
}

.rec h1{
    
position: absolute;
width: 169px;
height: 51px;
left: 733px;
top: 810px;
font-family: 'Circular Spotify Text';
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 51px;
/* identical to box height */


color: #282165;
}
 .rec h4{
    position: absolute;
    width: 656px;
    height: 100px;
    font-family: 'Circular Spotify Text';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
    color: #606060;
    left: 733px;
    top: 880px; 
 }
 .rec .amount-requested{
    position: absolute;
    width: 121px;
    height: 20px;
    font-family: 'Circular Spotify Text';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #656565;
    left: 733px;
    top: 990px;  
 }
 .rec .amount-requested-figure{
    width: 184px;
    height: 42px;
    font-family: 'Circular Spotify Text';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    color: #534D84;
    left: 733px;
    top: 1010px;
 }
 .rec .channels{
    position: absolute;
    width: 121px;
    height: 20px;
    font-family: 'Circular Spotify Text';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #656565;
    left: 733px;
    top: 1070px;  
 }
 .rec .mobile{
    width: 291px;
    height: 42px;
    font-family: 'Circular Spotify Text';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    color: #534D84;
    top: 1090px;
    left: 733px;
  
 }
 .rec .amount-raised{
    position: absolute;
    width: 96px;
    height: 20px;
    font-family: 'Circular Spotify Text';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #656565; 
    top: 990px;
    left: 1240px;

 }
 .rec .amount-figure{
    width: 184px;
    height: 42px;
    font-family: 'Circular Spotify Text';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    color: #534D84;
    left: 1195px;
    top: 1010px;
 }
 .rec .days{
    position: absolute;
    width: 96px;
    height: 20px;
    font-family: 'Circular Spotify Text';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #656565; 
    top: 1070px;
    left: 1240px;
 }
 .rec .days-figure{
    width: 291px;
    height: 42px;
    font-family: 'Circular Spotify Text';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    color: #534D84;
    top: 1090px;
    left: 1230px;
 }
 .rec .shop-city{
    position: absolute;
    width: 160px;
    height: 25px;
    font-family: 'Circular Spotify Text';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #00AEED;
    top: 1200px;
    left: 733px;
 }
 .rec .view-details{
    position: absolute;
    width: 85px;
    height: 28px;
    font-family: 'Circular Spotify Text';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 23px;
    color: #00AEED;
    top: 1200px;
    left: 1150px;
    background-color: #FFFFFF;
    border: 2px solid  #00AEED;
    border-radius: 2px;
 }
 .rec .donate{
    position: absolute;
    width: 85px;
    height: 28px;
    font-family: 'Circular Spotify Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
    top: 1200px;
    left: 1250px;
    background-color: #00AEED;
    border: 2px solid  #00AEED;
    border-radius: 2px;  
 }