.hero{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    position: absolute;
    width: 606px;
    height: 24px;
    left: 50px;
    top: 200px;
    
    
}

.hero h1{
    width: 606px;
height: 164px;

font-family: 'Circular Spotify Text';
font-style: normal;
font-weight: 900;
font-size: 58px;
line-height: 82px;
color: #FFFFFF
}

.hero p{
    width: 509px;
height: 60px;

font-family: 'Circular Spotify Text';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
letter-spacing: 0.04em;

color: #DDDDDD;
}

.hero .btn{
    width: 110px;
    height: 43px;
    background-color: #00AEED;
    border: 1px solid  #00AEED;
    border-radius: 2px; 
    color: #FFFFFF;

font-family: 'Circular Spotify Text';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 23px;
/* identical to box height */


color: #FFFFFF;
background-color: aqua;
}

.main-hero{
    position: absolute;
width: 1440px;
height: 1024px;
left: 0px;
top: 0px;
}

.hero .images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
padding: 0px;
width: 90px;
height: 40px;
}

.hero .pics1{
    flex: none;
order: 0;
flex-grow: 0;
margin: 0px -15px;
}
.hero .pics2{
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px -15px;
}
.hero .p-images{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 215px;
    height: 40px;
    left: 50px;
    top: 703px;
}

.hero h5{
    width: 105px;
    height: 23px;

    font-family: 'Circular Spotify Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    /* identical to box height */

    color: #FFFFFF;
}

.hero .man-picture{
    position: absolute;
    width: 604px;
    height: 600px;
    left: 814px;
}

.hero .human-top{  
width: 160px;
height: 120px;
left: 844px;
top: 21px;

}

.hero .human{
width: 436.36px;
height: 436.36px;
left: 911.09px;
top: 393.64px;

background: rgba(40, 33, 101, 0.5);
mix-blend-mode: screen;
}

